/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
  outline: 1px dotted black;
} */

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 450px;
  width: 900px;
}

#search {
  display: box;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
